.upcoming {
font-family: 'Outfit';
text-align: center;
}

.upcoming .container-fluid {
    padding: 15% 6%;;
}
.upcoming h1 {
    font-weight: 800;
}

.upcoming .carousel-inner {
    padding-left: 28%;
}
.upcoming .card {
    width:400px;
   align-content: center;
   
   
}
.upcoming .card .card-img-top {
    height: 50vh;
}


/* @media screen and (max-width:640px)
{
    .upcoming .card {
        width:210px;
    }

.upcoming .card .card-img-top {
    height: 25vh;
}

    .upcoming .card-title
    {
        font-size: 1.2rem;
    }
    .upcoming .carousel-inner {
        padding-left: 14.5%;
    }
    
} */
